

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Camisetas Kanté</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Agregar Nueva Camiseta</h1>
    <form id="camisetaForm" class="mb-5">
        <div class="form-group">
            <label for="nombreCamiseta">Nombre de la Camiseta</label>
            <input type="text" class="form-control" id="nombreCamiseta" required>
        </div>
        <div class="form-group">
            <label for="precioCamiseta">Precio</label>
            <input type="number" class="form-control" id="precioCamiseta" required>
        </div>
        <div class="form-group">
            <label for="imagenCamiseta">URL de la Imagen</label>
            <input type="url" class="form-control" id="imagenCamiseta" required>
        </div>
        <button type="submit" class="btn btn-primary" href= "">Agregar Camiseta</button>
    </form>