

{% load static %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Enviar">

</form>


{% endblock %}

<!-- No se porque cuando voy a la URL "pedidoForm" aparece la pagina como si
 fuera la de "clienteForm", no estoy logrando hacer que funcione correctamente-->
 <!-- UPDATE: parece ser que si borro la parte de la herencia si existe el formulario
  pero no sabria hacer para que ambas cosas coexistan-->